<html >
<body>

<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<h3> Formulaire d'ajout d'un Compte </h3> 

<br><br>

<form class="form-horizontal">
<div ng-app="formExample1">
<div ng-controller="ExampleController1">

  <ng-form novalidate class="simple-form1">
  
  <div class="form-group">
  
  <label class="col-sm-2 control-label">login_fk</label>
  <input type="text" ng-model="user.login_fk" /><br /> <br>
  
  <label class="col-sm-2 control-label">id_compte</label>
  <input type="text" ng-model="user.id_compte" /><br /> <br>
  
   <label class="col-sm-2 control-label">plafond</label>
   <input type="text" ng-model="user.plafond" /><br /> <br>
   
    <label class="col-sm-2 control-label">montant</label>
    <input type="text" ng-model="user.montant" /><br /> <br>
    
     <label class="col-sm-2 control-label">datecreation</label>
     <input type="text" ng-model="user.datecreation" /><br /> <br> 
    
  <div class="col-sm-10">
  
  <label class="col-sm-2 control-label"></label>
  <button class="btn btn-success" ng-click="saveCompte(user)">
  <span class="glyphicon glyphicon-save"></span> Ajouter
  </button>
  
   <input type="button" ng-click="asyncLoadCompte()" value="Load Compte" value="set background" />
</ng-form></form><br><br><br><br>

<h3>La liste des Comptes</h3><br>
<br>
<table class="table table-striped">
<thead> 
<tr>
    <th>login_fk</th>
    <th>id_compte</th>
    <th>plafond</th>
    <th>montant</th>
    <th>datecreation</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="e in compte">
    <td>{{ e.login_fk }}</td>
    <td>{{ e.id_compte }}</td>
    <td>{{ e.plafond }}</td>
    <td>{{ e.montant }}</td>
    <td>{{ e.datecreation }}</td>
 </tr>
</tbody>
</table>   
</div>
</div>


<script src="angular.min.js"></script>
<script src="appcomptepel.js"></script>
</body>
</html>